body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #292929 0%, #1f2c46 100%);
    margin-top: 50px;
}

main {
    display: flex;
    justify-content: center;
}

section {
    width: 708px;
}

.name {
    display: flex;
    justify-content: start;
    align-items: top;
    margin-top: 20px;
}

.logo {
    height: 60px;
    flex-direction: column;
    margin-right: -220px;
}

h3 {

    color: white;
    font-size: 20px;
    margin-left: 330px;
}

h1 {
    color: white;
    font-size: 45px;
    margin-top: 15px;
}

.conocimiento {
    display: flex;
    color: #ffffff;
    margin-top: 50px;
    margin-left: -20px;
    justify-content: start;
}

.conocimiento ul li {
    padding: 5px 0px;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 20px;
}

.contacto a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin: 10px 0px;
}

.contacto a img {
    margin-right: 15px;
    align-items: center;
    width: 24px;
    height: 24px;
}

.contacto a img:hover {
    transform: translateY(-3px);
}

.btn-linea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    width: 80%;
}

.btn-linea a {
    text-decoration: none;
    border: #02fbdb solid 2px;
    text-align: center;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background: none;
    color: #02fbdb;
    border-radius: 20px;
    border-color: #02fbdb;
}

.btn-linea a:hover {
    background: none;
    color: rgba(253, 32, 84, 1);
    border-radius: 20px;
    border-color: rgba(253, 32, 84, 1);

    transition: transform 0.3s ease;
    transform: translateY(-6px) scale(1.2);
}


aside {
    width: 708px;
}

.descripcion {
    display: flex;
}

.year {
    color: #ffffff;
    margin-top: 25px;
    margin-right: 100px;
    width: 102px;
    font-size: 15px;
}

.trabajo {
    width: 462px;
}

h4 {
    color: white;
}

p {
    color: rgb(213, 204, 204);
}